awsebcli==3.18.1
botocore==1.15.49
cement==2.8.2
certifi==2020.4.5.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cycler==0.10.0
docutils==0.15.2
Flask==1.1.2
future==0.16.0
gunicorn==20.0.4
idna==2.7
inline==0.0.1
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.15.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
nltk==3.5
numpy==1.18.4
pandas==1.0.3
pathspec==0.5.9
Pillow==9.0.1
progressbar==2.5
pyenchant==3.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-engineio==3.13.0
pytz==2020.1
PyYAML==5.3.1
regex==2020.5.14
requests==2.20.1
semantic-version==2.5.0
six==1.15.0
termcolor==1.1.0
textblob==0.15.3
tqdm==4.46.0
urllib3==1.24.3
wcwidth==0.1.9
Werkzeug==1.0.1
wordcloud==1.7.0
